.page-box {
  padding: 24px;
  margin-top: 10px;
  border-top: 1px solid #e7eaec;
  background-color: #FFF;
  border-radius: 3px;
  flex: auto;
}

.page-box-wrapper {
  flex: auto;
}

.page-header .v-btn {
  margin-left: 5px;
  margin-right: 5px;
}

.page-footer {
  display: flex;
  padding: 10px 24px;
}

.page-footer .v-btn {
  margin-left: 5px;
  margin-right: 5px;
}

.empty-layout {
  display: flex;
  flex: 1 0 auto;
}

.not-found .title {
  text-align: center;
}

.not-found .description {
  text-align: center;
}

.not-found .not-found-icon {
  text-align: center;
}

.not-found .not-found-icon .v-icon {
  font-size: 50px;
}

.company-name {
  vertical-align: middle;
}

.navigation-child-text {
  padding-left: 0;
}

.navigation .v-list-group .v-list-group__header {
  padding: 0;
}

.navigation .v-list-group .v-list-group__items {
  padding-left: 23px;
}

.profile-menu {
  cursor: pointer;
  min-width: 70px;
}

.profile-menu .user-name {
  display: inline-block;
  padding: 0 5px;
  vertical-align: middle;
}

.notification-btn {
  margin: 0 25px;
}

