.company-name {
  vertical-align: middle;
}

.navigation-child-text {
  padding-left: 0;
}

.navigation {
  .v-list-group {
    .v-list-group__header {
      padding: 0;
    }

    .v-list-group__items {
      padding-left: 23px;
    }
  }
}

.profile-menu {
  cursor: pointer;
  min-width: 70px;

  .user-name {
    display: inline-block;
    padding: 0 5px;
    vertical-align: middle;
  }
}

.notification-btn {
  margin: 0 25px;
}

.hidden {
  display: none;
}

.colored-table {
    tbody {
        tr {
            td:nth-child(2n-1) {
                background-color: #ffd964;
            }

            td:nth-child(2n) {
                background-color: #c5dfb3;
            }

            td:nth-child(3n) {
                background-color: #f4af82;
            }

            td:last-child {
                background-color: #bdd7ee;
                color: #ff0000;
                font-weight: bold;
            }

            td:nth-child(1) {
                background-color: transparent;
            }

            td:nth-child(2) {
                background-color: transparent;
            }

            td:nth-child(3) {
                background-color: transparent;
            }
        }
    }
}

.document-link {
  cursor: pointer;
}

.standart-select {
  border: #000 solid 1px;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  -ms-progress-appearance: menulist;
}
