.company-name {
  vertical-align: middle;
}

.navigation-child-text {
  padding-left: 0;
}

.navigation {
  .v-list-group {
    .v-list-group__header {
      padding: 0;
    }

    .v-list-group__items {
      padding-left: 23px;
    }
  }
}

.profile-menu {
  cursor: pointer;
  min-width: 70px;

  .user-name {
    display: inline-block;
    padding: 0 5px;
    vertical-align: middle;
  }
}

.notification-btn {
  margin: 0 25px;
}

.hidden {
  display: none;
}

.document-link {
  cursor: pointer;
}

.standart-select {
  border: #000 solid 1px;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  -ms-progress-appearance: menulist;
}
