.page-box {
  padding: 24px;
  margin-top: 10px;
  border-top: 1px solid #e7eaec;
  background-color: #FFF;
  border-radius: 3px;
  flex: auto;

  &-wrapper {
    flex: auto;
  }
}

.page-header {
  .v-btn {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.page-footer {
  display: flex;
  padding: 10px 24px;

  .v-btn {
    margin-left: 5px;
    margin-right: 5px;
  }
}